[project]
name = "AIMER"
version = "0.1.0"
description = "Artificial Intelligence for MEdical Research"
authors = [
    {name = "olivier DEBAUCHE", email = "olivier.debauche@umons.ac.be"},
]
dependencies = []
readme = "README.md"
requires-python = ">= 3.13"

[tool.black]
line-length = 88
target-version = ['py313']
include = '\.pyi?$'

[tool.isort]
profile = "django"
combine_as_imports = true
include_trailing_comma = true
line_length = 88
multi_line_output = 3
known_first_party = ["config"]

[tool.djlint]
profile = "django"
max_line_length = 88
extensions = ["html"]
ignore = "H005,H006,H021,H022,H023,H030,H031"
indent = 4
exclude = [
    "DATA/PAA2023/Conditions_Utilisation_Access.html"
]

[tool.mypy]
python_version = "3.13"
ignore_missing_imports = true
strict_optional = false
warn_unused_ignores = true
warn_redundant_casts = false
warn_return_any = false
disallow_untyped_defs = false
disallow_incomplete_defs = false
no_implicit_optional = false
exclude = ".*migrations.*|.*mapproxy.*"

[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "*/migrations",
    "manage.py",
]

# Same as Black.
line-length = 88
indent-width = 4

# Assume Python 3.13
target-version = "py313"

[tool.ruff.lint]
preview = true
explicit-preview-rules = true
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = [
   "A",     # flake8-builtins
   "AIR",   # Airflow
   "ANN",   # flake8-annotations
   "ARG",   # flake8-unused-arguments
   "ASYNC", # flake8-async
   "B",     # flake8-bugbear
   "BLE",   # flake8-blind-except
   "C4",    # flake8-comprehensions
   "C90",   # McCabe cyclomatic complexity
   "COM",   # flake8-commas
   "CPY",   # flake8-copyright
   "D",     # pydocstyle
   "DJ",    # flake8-django
   "DOC",   # pydoclint
   "DTZ",   # flake8-datetimez
   "E",     # pycodestyle
   "EM",    # flake8-errmsg
   "ERA",   # eradicate
   "EXE",   # flake8-executable
   "F",     # Pyflakes
   "FA",    # flake8-future-annotations
   "FAST",  # FastAPI
   "FBT",   # flake8-boolean-trap
   "FIX",   # flake8-pp
   "FLY",   # flynt
   "FURB",  # refurb
   "G",     # flake8-logging-format
   "I",     # isort
   "ICN",   # flake8-import-conventions
   "INP",   # flake8-no-pep420
   "INT",   # flake8-gettext
   "ISC",   # flake8-implicit-str-concat
   "LOG",   # flake8-logging
   "N",     # pep8-naming
   "NPY",   # NumPy-specific rules
   "PD",    # pandas-vet
   "PERF",  # Perflint
   "PGH",   # pygrep-hooks
   "PIE",   # flake8-pie
   "PL",    # Pylint
   "PT",    # flake8-pytest-style
   "PTH",   # flake8-use-pathlib
   "PYI",   # flake8-pyi
   "Q",     # flake8-quotes
   "R",     # Refactor
   "RET",   # flake8-return
   "RSE",   # flake8-raise
   "RUF",   # Ruff-specific rules
   "S",     # flake8-bandit
   "SIM",   # flake8-simplify
   "SLF",   # flake8-self
   "SLOT",  # flake8-slots
   "T10",   # flake8-debugger
   "T20",   # flake8-print
   "TC",    # flake8-type-checking
   "TD",    # flake8-todos
   "TID",   # flake8-tidy-imports
   "TRY",   # tryceratops
   "UP",    # pyupgrade
   "W",     # pycodestyle
   "YTT",   # flake8-2020
]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = true

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = true

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"

[tool.uv.workspace]
members = [
    "AIMER",
]
