django[argon2]==6.0.1
huggingface-hub
# flwr==1.25.0
# syft-flwr==0.5.0
# scikit-learn-intelex>=2023.2.1; sys_platform != 'darwin'
python-dotenv==1.2.1
tensorflow-cpu>=2.20.0; sys_platform != 'darwin'
tensorflow>=2.20.0; sys_platform == 'darwin'
keras==3.13.1
keras-tuner==1.4.8
# seaborn==0.13.2 # 0.12.2
numpy>=2.3,<3
# scikit-learn>=1.6.1
# pandas # 2.0.3
# --extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0
torchvision==0.25.0
timm==1.0.24
# protobuf>=4.0
# prophet==1.2.1
# lightgbm==4.6.0
# captum
wheel==0.46.3
# gevent==25.9.1
setuptools==80.10.1
# pillow==12.1.0
# zipp==3.23.0
# werkzeug>=3.1.4
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
