Django[argon2]==5.2.1
python-dotenv==1.1.0
huggingface-hub==0.31.1
scikit-learn-intelex>=2023.2.1; sys_platform != 'darwin'
tensorflow-cpu; sys_platform != 'darwin'
tensorflow; sys_platform == 'darwin'
keras
keras-tuner
seaborn==0.13.2 # 0.12.2
numpy>=2.2.6,<=2.2.6; python_version<"3.12"
numpy>=1.26.4,<2.3; python_version>="3.12"
scikit-learn>=1.6.1
# pandas>=2.2.2 # 2.0.3
# --extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0,<2.8.0
torchvision
timm>=1.0.15
prophet==1.1.6
lightgbm==4.6.0
captum==0.8.0
# syft>=0.9.3b2
wheel==0.46.1
gevent==25.4.2
setuptools>=78.1.1
pillow==11.2.1
zipp==3.21.0
werkzeug>=3.0.6
