Django[argon2]==5.1.7
python-dotenv==1.0.1
huggingface-hub==0.29.1
scikit-learn-intelex>=2023.2.1; sys_platform != 'darwin'
tensorflow-cpu; sys_platform != 'darwin'
tensorflow; sys_platform == 'darwin'
keras
keras-tuner
seaborn==0.13.2 # 0.12.2
numpy>=2.2.3,<=2.2.3; python_version<"3.12"
numpy>=1.26.4,<2.3; python_version>="3.12"
scikit-learn>=1.6.1
# pandas>=2.2.2 # 2.0.3
# --extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0,<2.7.0
torchvision
timm>=1.0.13
prophet==1.1.6
lightgbm==4.6.0
captum==0.7.0
# syft==0.9.3b2
wheel==0.45.1
gevent==24.11.1
setuptools>=75.6.0
pillow==11.1.0
zipp==3.21.0
werkzeug>=3.0.6
