{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "AIMER - Reset Password" %}{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/authentication.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="{% url 'index' %}" class="app-brand auth-cover-brand gap-2">
    <span class="app-brand-logo demo">{% include 'partials/logo.html'  %}</span>
    <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">

    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
      <div class="w-100 d-flex justify-content-center">
        <img src="{% static 'img/illustrations/boy-with-laptop-' %}{{ COOKIES.theme|default:theme }}.png" class="img-fluid scaleX-n1-rtl" alt="Login image" width="700" data-app-dark-img="illustrations/boy-with-laptop-dark.png" data-app-light-img="illustrations/boy-with-laptop-light.png" />
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Reset Password -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">
      <div class="w-px-400 mx-auto mt-sm-12 mt-8">
        <h4 class="mb-1">{% trans "Reset Password" %} 🔒</h4>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form id="formAuthentication" class="mb-6" method="post">
          {% csrf_token %}
          <div class="mb-6 form-password-toggle form-control-validation">
            <label class="form-label" for="password">{% trans "New Password" %}</label>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" name="password" aria-describedby="{% trans "password" %}" />
              <span class="input-group-text cursor-pointer"><i class="icon-base bx bx-hide"></i></span>
            </div>
          </div>
          <div class="mb-6 form-password-toggle form-control-validation">
            <label class="form-label" for="confirm-password">Confirm Password</label>
            <div class="input-group input-group-merge">
              <input type="password" id="confirm-password" class="form-control" name="confirm-password" aria-describedby="{% trans "password" %}" />
              <span class="input-group-text cursor-pointer"><i class="icon-base bx bx-hide"></i></span>
            </div>
          </div>
          <button class="btn btn-primary d-grid w-100 mb-6" type="submit">{% trans "Set new password" %}</button>
          <div class="text-center">
            <a href="{% url 'login' %}">
              <i class="icon-base bx bx-chevron-left scaleX-n1-rtl me-1_5 align-top"></i>
              {% trans "Back to login" %}
            </a>
          </div>
        </form>
      </div>
    </div>
    <!-- /Reset Password -->
  </div>
</div>
{% endblock %}
