<footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5 class="text-success">Data preparation</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="../data_processing_models/"
                       class="nav-link p-0 text-success-emphasis">Models</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../data_processing_tutorials/"
                       class="nav-link p-0 text-success-emphasis">Tutorials</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../data_processing_faqs/"
                       class="nav-link p-0 text-success-emphasis">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5 class="text-danger">Machine Learning</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="../machine_learning_models/"
                       class="nav-link p-0 text-danger-emphasis">Models</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../machine_learning_tutorials/"
                       class="nav-link p-0 text-danger-emphasis">Tutorials</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../machine_learning_faqs/"
                       class="nav-link p-0 text-danger-emphasis">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5 class="text-info">Deep Learning</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="../deep_learning_models"
                       class="nav-link p-0 text-info-emphasis">Models</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../deep_learning_tutorials/"
                       class="nav-link p-0 text-info-emphasis">Tutorials</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../deep_learning_faqs/" class="nav-link p-0 text-info-emphasis">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5 class="text-warning">NLP</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="../natural_language_processing_models/"
                       class="nav-link p-0 text-warning-emphasis">Models</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../natural_language_processing_tutorials/"
                       class="nav-link p-0 text-warning-emphasis">Tutorials</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="../natural_language_processing_faqs/"
                       class="nav-link p-0 text-warning-emphasis">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 offset-md-1 mb-3">
            <form action="/newsletter" method="post">
                {% csrf_token %}
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1"
                           type="text"
                           class="form-control"
                           placeholder="Email address">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2023 SmartAppli, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3">
                <a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use href="#tiktok"></use>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use href="#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use href="#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>
