      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/static" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="45" height="32" role="img" aria-label="Ai Medical Toolbox"><use href="#{{ logo|random }}"></use></svg>
            <span class="fs-4">Ai Medical Toolbox</span>
          </a>
        </div>

        <ul class="nav nav-underline col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/data" class="link-success nav-link px-2">Data Processing</a></li>
          <li><a href="/ml" class="link-danger nav-link px-2">Machine Learning</a></li>
          <li><a href="/dl" class="link-info nav-link px-2">Deep Learning</a></li>
          <li><a href="/nlp" class="link-warning nav-link px-2 active">NLP</a></li>
        </ul>

        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-secondary me-2">Login</button>
          <a class="btn btn-primary" href="/signup" role="button">Sign-up</a>
        </div>
      </header>