{% extends "base.html" %}
{% block title %}Ai Medical Research{% endblock %}
{% block content %}
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use href="#data"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Data Processing</h3>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                </p>
                <a href="#" class="btn btn-primary">Primary button</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use href="#heart"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Machine Learning</h3>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                </p>
                <a href="#" class="btn btn-primary">Primary button</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use href="#lungs"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Deep Learning</h3>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                </p>
                <a href="#" class="btn btn-primary">Primary button</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use href="#chat"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Natural Language Processing</h3>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                </p>
                <a href="#" class="btn btn-primary">Primary button</a>
            </div>
        </div>
    </div>
{% endblock %}
