{% extends 'base.html' %}

{% block title %}Machine Learning - Models{% endblock %}

{% block content %}
  <h3><span class="text-danger-emphasis">12</span> Anomaly Detection Models</h3>
  <div class="row g-3">
    <div class="col-md-6">
      <ul>
          <li>Angle-base Outlier Detection (PyCaret - <i>abod</i>)</li>
          <li>Clustering-Based Local Outlier (PyCaret - <i>cluster</i>)</li>
          <li>Connectivity-Based Local Outlier (PyCaret - <i>cof</i>)</li>
          <li>Isolation Forest (PyCaret - <i>iforest</i>)</li>
          <li>Histogram-based Outlier Detection (PyCaret - <i>histogram</i>)</li>
          <li>K-Nearest Neighbors Detector (PyCaret - <i>knn</i>)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
          <li>Local Outlier Factor (PyCaret - <i>lof</i>)</li>
          <li>One-class SVM detector (PyCaret - <i>svm</i>)</li>
          <li>Principal Component Analysis (PyCaret - <i>pca</i>)</li>
          <li>Minimum Covariance Determinant (PyCaret - <i>mcd</i>)</li>
          <li>Subspace Outlier Detection (PyCaret - <i>sod</i>)</li>
          <li>Stochastic Outlier Selection (PyCaret - <i>sos</i>)</li>
      </ul>
    </div>
  </div>

  <h3><span class="text-danger-emphasis">29</span> Regression Models</h3>
  <div class="row g-3">
    <div class="col-md-6">
      <ul>
          <li>Linear Regression (PyCaret - <i>lr</i>)</li>
          <li>Lasso Regression (PyCaret - <i>lasso</i>)</li>
          <li>Ridge Regression (PyCaret - <i>ridge</i>)</li>
          <li>Elastic Net (PyCaret - <i>en</i>)</li>
          <li>Least Angle Regression (PyCaret - <i>lar</i>)</li>
          <li>Lasso Least Angle Regression (PyCaret - <i>llar</i>)</li>
          <li>Orthogonal Matching Pursuit (PyCaret - <i>omp</i>)</li>
          <li>Bayesian Ridge (PyCaret - <i>br</i>)</li>
          <li>Automatic Relevance Determination (PyCaret - <i>ard</i>)</li>
          <li>Passive Aggressive Regressor (PyCaret - <i>par</i>)</li>
          <li>Random Sample Consensus (PyCaret - <i>ransac</i>)</li>
          <li>TheilSen Regressor (PyCaret - <i>tr</i>)</li>
          <li>Huber Regressor (PyCaret - <i>huber</i>)</li>
          <li>Kernel Ridge (PyCaret - <i>kr</i>)</li>
          <li>Support Vector Regression (PyCaret - <i>svm</i>)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
          <li>K Neighbors Regressor (PyCaret - <i>knn</i>)</li>
          <li>Decision Tree Regressor (PyCaret - <i>dt</i>)</li>
          <li>Random Forest Regressor (PyCaret - <i>rf</i>)</li>
          <li>Extra Trees Regressor (PyCaret - <i>et</i>)</li>
          <li>AdaBoost Regressor (PyCaret - <i>ada</i>)</li>
          <li>Gradient Boosting Regressor (PyCaret - <i>gbr</i>)</li>
          <li>MLP Regressor (PyCaret - <i>mlp</i>)</li>
          <li>Extreme Gradient Boosting (PyCaret - <i>xgboost</i>)</li>
          <li>Light Gradient Boosting Machine (PyCaret - <i>lightgbm</i>)</li>
          <li>CatBoost (PyCaret - <i>catboost</i>)</li>
          <li>Dummy Regressor (PyCaret - <i>dummy</i>)</li>
          <li>Bagging Regressor (PyCaret - <i>bagging</i>)</li>
          <li>Stacking Regressor (PyCaret - <i>stacking</i>)</li>
          <li>Voting Regressor (PyCaret - <i>voting</i>)</li>
      </ul>
    </div>
  </div>

  <h3><span class="text-danger-emphasis">19</span> Classification Models</h3>
  <div class="row g-3">
    <div class="col-md-6">
      <ul>
          <li>Logistic Regression (PyCaret - <i>lr</i>)</li>
          <li>K Neightbors Classifier (PyCaret - <i>knn</i>)</li>
          <li>Gaussian Naive Bayes (PyCaret - <i>nb</i>)</li>
          <li>Decision Tree Classifier (PyCaret - <i>dt</i>)</li>
          <li>SVM - Linear Kernel (PyCaret - <i>svm</i>)</li>
          <li>SVM - Radial Kernel (PyCaret - <i>rbfsvm</i>)</li>
          <li>Gaussian Process Classifier (PyCaret - <i>gpc</i>)</li>
          <li>MLP Classifier (PyCaret - <i>mlp</i>)</li>
          <li>Ridge Classifier (PyCaret - <i>ridge</i>)</li>
          <li>Random Forest Classifier (PyCaret - <i>rf</i>)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
          <li>Quadratic Discriminant Analysis (PyCaret - <i>qda</i>)</li>
          <li>Ada Boost Classifier (PyCaret - <i>ada</i>)</li>
          <li>Gradient Boost Classifier (PyCaret - <i>gbc</i>)</li>
          <li>Linear Discriminant Analysis (PyCaret - <i>lda</i>)</li>
          <li>Extra Trees Classifier (PyCaret - <i>et</i>)</li>
          <li>Extreme Gradient Boosting (PyCaret - <i>xgboost</i>)</li>
          <li>light Gradient Boosting Machine (PyCaret - <i>lightgbm</i>)</li>
          <li>CatBoost Classifier (PyCaret - <i>catboost</i>)</li>
          <li>Dummy Classifier (PyCaret - <i>dummy</i>)</li>
      </ul>
    </div>
  </div>

  <h3><span class="text-danger-emphasis">9</span> Clustering Models</h3>
  <div class="row g-3">
    <div class="col-md-6">
      <ul>
          <li>K-Means Clustering (PyCaret - <i>kmeans</i>)</li>
          <li>Affinity Propagation (PyCaret - <i>ap</i>)</li>
          <li>Mean Shift Clustering (PyCaret - <i>meanshift</i>)</li>
          <li>Spectral Clustering (PyCaret - <i>sc</i>)</li>
          <li>Agglomerative Clustering (PyCaret - <i>hclust</i>)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
          <li>Density-Based Spatial Clustering (PyCaret - <i>dbscan</i>)</li>
          <li>OPTICS Clustering (PyCaret - <i>optics</i>)</li>
          <li>Birch Clustering (PyCaret - <i>birch</i>)</li>
          <li>K-Modes Clustering (PyCaret - <i>kmodes</i>)</li>
      </ul>
    </div>
  </div>
{% endblock %}