{% load i18n %}

{% with is_group=item.submenu|filter_by_url:request %}
  {% if not item.permission or request.user|has_permission:item.permission %}
    <li class="menu-item {% if is_group %}active{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="{{ item.icon }}"></i>
        <div>{% trans item.name %}</div>
      </a>
      <ul class="menu-sub">
        {% for sub_item in item.submenu %}
          {% include './menu_item_template.html' with item=sub_item %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endwith %}
