.env
.cache/
.venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal
logs.log
.coverage
htmlcov/

RAG/data/pdfs/
RAG/data/figures/
RAG/data/figures_description/
RAG/data/markdown/
RAG/data/tables/

tests/
