fastapi[standard-no-fastapi-cloud-cli]==0.128.0
fastmcp==2.14.4
uvicorn[standard]==0.40.0
# tensorflow-cpu>=2.20.0; sys_platform != 'darwin'
# tensorflow>=2.20.0; sys_platform == 'darwin'
torch==2.10.0
torchvision==0.25.0
keras==3.13.1
timm==1.0.24
# segmentation-models-pytorch
git+https://github.com/qubvel/segmentation_models.pytorch
tqdm==4.67.1