{% load static %}
<!-- Icons -->
<link rel="stylesheet" href="{% static 'vendor/fonts/iconify-icons.css' %}" />
<!--Vendor CSS-->
<link rel="stylesheet"
      href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<!--Core CSS -->
{% if has_customizer %}
    <link rel="stylesheet"
          href="{% static 'vendor/libs/pickr/pickr-themes.css' %}" />
{% endif %}
<link rel="stylesheet" href="{% static 'vendor/css/core.css' %}" />
<link rel="stylesheet" href="{% static 'css/demo.css' %}" />
