{%  extends "base.html" %}

{%  block title %}Natural Language Processing{% endblock %}

{%  block content %}
    
<div class="accordion accordion-flush" id="NLPAssistant">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NLPAssistant-collapseOne" aria-expanded="false" aria-controls="NLPAssistant-collapseOne">
        Text Generation
      </button>
    </h2>
    <div id="NLPAssistant-collapseOne" class="accordion-collapse collapse" data-bs-parent="#NLPAssistant">
      <div class="accordion-body">
          <form class="row g-3" action="/npl_textgeneration_processing/" method="post">
            {% csrf_token %}
              <h5>Model Choice</h5>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_alfred_40b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_alfred_40b.id_for_label }}">Alfred 40B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_codellama_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_codellama_7b.id_for_label }}">CodeLLaMa 7B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_codellama_13b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_codellama_13b.id_for_label }}">CodeLLaMa 13B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_nlptg_model_falcon_7b.id_for_label }}">Falcon 7B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_7b_instruct.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_falcon_7b_instruct.id_for_label }}">Falcon 7B Instruct</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_40b.id_for_label }}" checked>
                  <label class="form-check-label" for="{{ form1.nlptg_model_falcon_40b.id_for_label }}">Falcon 40B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_40b_instruct.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_falcon_40b_instruct.id_for_label }}">Falcon 40B Instruct</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_180b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_falcon_180b.id_for_label }}">Falcon 180B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_falcon_180b_chat.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_falcon_180b_chat.id_for_label }}">Falcon 180B Chat</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_llama2_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_llama2_7b.id_for_label }}">LLaMA 2 7B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_llama2_13b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_llama2_13b.id_for_label }}">LLaMA 2 13B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_llama2_70b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_llama2_70b.id_for_label }}">LLaMA 2 70B</label>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_med42_70b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_med42_70b.id_for_label }}">Med42 70B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_meditron_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_meditron_7b.id_for_label }}">Meditron 7B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_meditron_70b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_meditron_70b.id_for_label }}">Meditron 70B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_mistral_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_mistral_7b.id_for_label }}">Mistral 7B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_mistral_7b_instruct.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_mistral_7b_instruct.id_for_label }}">Mistral 7B Instruct</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_mistral_7b_openorca.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_mistral_7b_openorca.id_for_label }}">Mistral 7B OpenOrca</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_neuralchat_7b_v3_2.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_neuralchat_7b_v3_2.id_for_label }}">Neural Chat 7B v3.2</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_openchat_7b_v3_5.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_openchat_7b_v3_5.id_for_label }}">Open Chat 3.5</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_openllama_3b_v2.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_openllama_3b_v2.id_for_label }}">Open LLaMa 3B v2</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_openllama_7b_v2.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_openllama_7b_v2.id_for_label }}">Open LLaMA 7B v2</label>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_openllama_13b_v2.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_openllama_13b_v2.id_for_label }}">Open LLaMA 13B v2</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_orca2_7b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_orca2_7b.id_for_label }}">Orca 2 7B</label>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.mlptg_model_orca2_13b.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.mlptg_model_orca2_13b.id_for_label }}">Orca 2 13B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.mlptg_model_psymedrp_13b_v1.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.mlptg_model_psymedrp_13b_v1.id_for_label }}">PsyMedRP 13B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.mlptg_model_psymedrp_20b_v1.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.mlptg_model_psymedrp_20b_v1.id_for_label }}">PsyMedRP 20B</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_starlinglm_7b_alpha.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_starlinglm_7b_alpha.id_for_label }}">Starling LM 7B Alpha</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_vicuna_7b_v1_5.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_vicuna_7b_v1_5.id_for_label }}">Vicuna 7B v1.5</label>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_vicuna_13b_v1_5.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_vicuna_13b_v1_5.id_for_label }}">Vicuna 13B v1.5</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_zephyr_7b_alpha.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_zephyr_7b_alpha.id_for_label }}">Zephyr 7B Alpha</label>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="nlptg_model" type="radio" id="{{ form1.nlptg_model_zephyr_7b_beta.id_for_label }}">
                  <label class="form-check-label" for="{{ form1.nlptg_model_zephyr_7b_beta.id_for_label }}">Zephyr 7B Beta</label>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NLPAssistant-collapseTwo" aria-expanded="false" aria-controls="NLPAssistant-collapseTwo">
        Text Classification
      </button>
    </h2>
    <div id="NLPAssistant-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#NLPAssistant">
      <div class="accordion-body">
          <form class="row g-3" action="/npl_textclassifier_processing/" method="post">
            {% csrf_token %}
              <h5>Model Choice</h5>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="{{ form1.dpcla_data_augmentation_cropping.html_name }}" type="checkbox" role="switch" id="{{ form1.dpcla_data_augmentation_cropping.id_for_label }}">
                    <label class="form-check-label" for="{{ form1.dpcla_data_augmentation_cropping.id_for_label }}">Image Cropping</label>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#NLPAssistant-collapseThree" aria-expanded="false" aria-controls="NLPAssistant-collapseThree">
        Emotional Analysis
      </button>
    </h2>
    <div id="NLPAssistant-collapseThree" class="accordion-collapse collapse" data-bs-parent="#NLPAssistant">
      <div class="accordion-body">
          <form class="row g-3" action="/npl_emotialanalysis_processing/" method="post">
            {% csrf_token %}
              <h5>Model Choice</h5>
              <div class="col-md-3 col-sm-6">
                <div class="form-check form-switch">
                  <input class="form-check-input" name="{{ form1.dpcla_data_augmentation_cropping.html_name }}" type="checkbox" role="switch" id="{{ form1.dpcla_data_augmentation_cropping.id_for_label }}">
                    <label class="form-check-label" for="{{ form1.dpcla_data_augmentation_cropping.id_for_label }}">Image Cropping</label>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>    
    
{% endblock %}