name: Aimer DJLint

on: [push, pull_request]

concurrency:
  group: aimer-djlint-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

  dj-lint:
    runs-on: ubuntu-latest
    name: Django Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7.2.0
        with:
          enable-cache: true

      - name: Print the installed version
        run: echo "Installed uv version is ${{ steps.setup-uv.outputs.uv-version }}"

      - name: Create virtualenv and install djlint
        run: |
          uv venv
          source .venv/bin/activate
          uv python install 3.13
          uv pip install djlint

      - name: Run djlint
        run: |
          source .venv/bin/activate
          djlint . --check
          djlint ./AIMER/templates --extension=html --lint
          djlint ./AIMER/templates --extension=html --reformat
