name: Formatter
on: [push, pull_request]

concurrency:
  group: formatter-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

jobs:
  linter_name:
    name: Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: ". --line-length 80 -t py310 -t py311 -t py312"
      - name: Create Pull Request
        if: steps.action_black.outputs.is_formatted == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Format Python code with psf/black push"
          commit-message: ":art: Format Python code with psf/black"
          body: |
            There appear to be some python formatting errors in ${{ github.sha }}. This pull request
            uses the [psf/black](https://github.com/psf/black) formatter to fix these issues.
          base: ${{ github.head_ref }} # Creates pull request onto pull request or commit branch
          branch: black

  dj-lint:
    runs-on: ubuntu-latest
    name: Django Formatter
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: 'pip'
      - name: DjLint Formatter
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
          python -m uv pip install djlint         
          djlint ./templates --check
          djlint ./templates --reformat
