name: Linter

on: [push, pull_request]

concurrency:
  group: linter-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

jobs:
  ruff-lint:
    name: Ruff Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7.2.0
        with:
          enable-cache: true

      - name: Print the installed version
        run: echo "Installed uv version is ${{ steps.setup-uv.outputs.uv-version }}"

      - name: Install Python 3.13
        run: uv python install 3.13

      - uses: astral-sh/ruff-action@v3
        with:
          args: 'check --select ASYNC,C90,DJ,DTZ,E,F,I,NPY,PD,PERF,PT,RUF,SIM,UP,W --ignore E501,F401,F841 --output-format github --diff --exclude fl_client/migrations,fl_server/migrations'

  ruff-fix:
    name: Ruff Fixer
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Print the installed version
        run: echo "Installed uv version is ${{ steps.setup-uv.outputs.uv-version }}"

      - name: Install Python 3.13
        run: uv python install 3.13
  
      - uses: astral-sh/ruff-action@v3
        with:
          args: 'check --fix --ignore F841'

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'style fixes by ruff'
          commit_options: '--no-verify --signoff'
          skip_checkout: true
          push_options: '--force'
          branch: 'black'

  dj-lint:
    runs-on: ubuntu-latest
    name: Django Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      
      - uses: astral-sh/setup-uv@v7.2.0
        with:
          enable-cache: true

      - name: Print the installed version
        run: echo "Installed uv version is ${{ steps.setup-uv.outputs.uv-version }}"

      - name: Create virtualenv and install djlint
        run: |
          uv venv
          source .venv/bin/activate
          uv python install 3.13
          uv pip install djlint

      - name: Run djlint
        run: |
          source .venv/bin/activate
          djlint . --check
          djlint ./templates --extension=html --lint
          djlint ./templates --extension=html --reformat
