name: MAGE Coverage

on:
  push:
    branches:
      - 'master'
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: mage-coverage-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true
  
jobs:
  sonarcloud:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
  
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true          
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
          python -m uv pip install coverage
          python -m uv pip install pytest
          python -m uv pip install httpx
      - name: Coverage Erase
        run: |
          coverage erase
      - name: Coverage Models
        run: | 
          coverage run -m pytest -q MAGE/tests/test_main.py
          coverage run -m pytest -q MAGE/tests/test_timm.py
          coverage run -m pytest -q MAGE/tests/test_torchvision.py
          coverage combine
      - name: Coverage Report
        run: |    
          coverage report -m
          coverage xml -o coverage.xml
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: 'coverage.xml'
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
          
