name: UT_Common_Models_V

on:
  workflow_call:

concurrency:
  group: ut_common_models_v-${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.workflow_ref }}
  cancel-in-progress: true

jobs:
  test-v-models:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: false
        swap-storage: true
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install uv
        python -m uv pip install -r tests.txt
    - name: VGG
      run: |
        python manage.py test fl_common.tests.tests_models_vgg
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Visformer
      run: |
        python manage.py test fl_common.tests.tests_models_visformer
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 1/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_001
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 2/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_002
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 3/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_003
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 4/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_004
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 5/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_005
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 6/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_006
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 7/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_007
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 8/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_008
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 9/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_009
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 10/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_010
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 11/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_011
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 12/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_012
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 13/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_013
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 14/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_014
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 15/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_015
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 16/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_016
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 17/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_017
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 18/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_018
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 19/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_019
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer - PART 20/20
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_020
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer Hybrid
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_hybrid
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Vision Transformer Relpos
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_relpos
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Fl_common Models Vision Transformer Sam
      run: |
        python manage.py test fl_common.tests.tests_models_vision_transformer_sam
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Fl_common Models ViTamin
      run: |
        python manage.py test fl_common.tests.tests_models_vitamin
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Fl_common Models Volo
      run: |
        python manage.py test fl_common.tests.tests_models_volo
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*
    - name: Fl_common Models Vovnet
      run: |
        python manage.py test fl_common.tests.tests_models_vovnet
        rm -rf /home/runner/.cache/huggingface/*
        rm -rf /home/runner/.cache/torch/*   
